In [106]:
# Data files creation
import numpy as np
import pandas as pd

In [107]:
sUrl = "https://pubs.niaaa.nih.gov/publications/surveillance92/tab2_09.htm"
raw_data = pd.read_html(sUrl)[0][:-6]

In [108]:
# Costruzione DataFrame coi dati che interessano
alco2009 = pd.concat([raw_data['State or  other geographic area'], raw_data["Beer"]['Per  capita'], raw_data["Wine"]['Per  capita'], raw_data["Spirits"]['Per  capita']], axis=1)
alco2009.columns = ["State", "Beer", "Wine", "Spirits"]
alco2009["State"] = [x.replace("  ", " ") for x in alco2009["State"]]
alco2009.set_index("State", inplace=True)
alco2009.sort_index(inplace=True)
alco2009.to_csv("./code/alco2009.csv")
alco2009.head()

            Beer  Wine Spirits
State
Alabama     1.20  0.22    0.58
Alaska      1.31  0.54    1.16
Arizona     1.19  0.38    0.74
Arkansas    1.07  0.17    0.60
California  1.05  0.55    0.73

In [109]:
raw_data = pd.read_html("./Data/states.html")[0]
raw_data.columns = ["State", "Abbreviation"]
raw_data.set_index("State", inplace=True)

In [110]:
# Costruzione DataFrame coi dati che interessano
states = raw_data.drop(['Commonwealth/Territory:'])[:-7]
states.drop("Marshall Islands", inplace=True)
states.sort_index(inplace=True)
states.to_csv("./code/states.csv")
# print(len(states.index), len(alco2009.index))
# print(states.index[17:])
# print(alco2009.index[17:])
print(states.index[states.index!=alco2009.index])
print(alco2009.index[states.index!=alco2009.index])

Index([], dtype='object', name='State')
Index([], dtype='object', name='State')

In [111]:
sUrl = "http://lib.stat.cmu.edu/datasets/boston"
from urllib.request import urlopen
# Leggo testo url come lista stringhe utf-8
with urlopen(sUrl) as infile:
    raw_data = infile.read().decode("utf-8").splitlines()
raw_data = [x.strip() for x in raw_data]
print(len(raw_data))

1034

In [112]:
# Prendo nomi colonne
nIndex = raw_data.index("Variables in order:")
columns = []
for i in range(nIndex+1, nIndex+15):
    columns.append(raw_data[i].split()[0].strip())
print(len(columns)

SyntaxError: unexpected EOF while parsing (<ipython-input-112-8a7804d50f96>, line 6)

In [113]:
# Carico i dati 2 linee dopo i nomi colonne
nIndex = raw_data.index("Variables in order:") + 16
raw_data_frame = []
for i in range(nIndex, len(raw_data), 2):
    raw_data_frame.append(raw_data[i].split() + raw_data[i+1].split())

In [114]:
# Creo dataframe da lista di liste indicando le colonne e che voglio tutti i dati convertiti a float32
boston = pd.DataFrame(raw_data_frame, columns=columns, dtype=np.float64)
boston["CHAS"] = boston["CHAS"].astype(np.int)
boston["RAD"] = boston["RAD"].astype(np.int)
boston.to_csv("./code/boston.csv")
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2