In [202]:
# Pandas foundations
import numpy as np
import pandas as pd

In [203]:
movie = pd.read_csv("./PandasCookbook_Code/data/movie.csv", index_col="movie_title")
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [204]:
# Selezione singola colonna (Series)
movie["director_name"] # Come etichetta colonna

movie_title
Avatar                                            James Cameron
Pirates of the Caribbean: At World's End         Gore Verbinski
Spectre                                              Sam Mendes
The Dark Knight Rises                         Christopher Nolan
Star Wars: Episode VII - The Force Awakens          Doug Walker
                                                    ...
Signed Sealed Delivered                             Scott Smith
The Following                                               NaN
A Plague So Pleasant                           Benjamin Roberds
Shanghai Calling                                    Daniel Hsia
My Date with Drew                                      Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [205]:
movie.director_name # Come proprietà del Frame

movie_title
Avatar                                            James Cameron
Pirates of the Caribbean: At World's End         Gore Verbinski
Spectre                                              Sam Mendes
The Dark Knight Rises                         Christopher Nolan
Star Wars: Episode VII - The Force Awakens          Doug Walker
                                                    ...
Signed Sealed Delivered                             Scott Smith
The Following                                               NaN
A Plague So Pleasant                           Benjamin Roberds
Shanghai Calling                                    Daniel Hsia
My Date with Drew                                      Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [206]:
# Calcolo lunghezza serie e valori statistici per Series stringa
print(movie.director_name.size)
print(movie.director_name.shape)
print(len(movie.director_name))
movie.director_name.describe()

4916
(4916,)
4916

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

In [207]:
# Calcolo valori statistici per Series float
movie.actor_1_facebook_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [208]:
# Calcolo quantili
movie.actor_1_facebook_likes.quantile(.2)

510.0

In [209]:
# Verifica numero valori null
movie.director_name.isnull()

movie_title
Avatar                                        False
Pirates of the Caribbean: At World's End      False
Spectre                                       False
The Dark Knight Rises                         False
Star Wars: Episode VII - The Force Awakens    False
                                              ...
Signed Sealed Delivered                       False
The Following                                  True
A Plague So Pleasant                          False
Shanghai Calling                              False
My Date with Drew                             False
Name: director_name, Length: 4916, dtype: bool

In [210]:
# index del DataFrame
# fornisce una etichetta ad ogni riga
# se non viene dichiarato esplicitamente viene creato un RangeIndex con etichette formate da interi da 0 a n-1
movie.reset_index(drop=False, inplace=True) # Resetta l'indice attuale che diventa colonna e crea il RangeIndex di default
movie.reset_index(drop=True, inplace=True) # Resetta l'indice attuale che viene perso e crea il RangeIndex di default
movie.set_index("movie_title", inplace=True) # Usa la colonna come indice (quindi non sarà più colonna)

In [211]:
# Cambiare nome alle etichette (righe e/o colonne)
movie.rename(index={"Avatar":"AVATAR"}, columns={"director_name":"Director"}, inplace=True)
movie.index.values[0] = "Avatar"
column_list = movie.columns.tolist()
column_list[1] = "director_name"
movie.columns = column_list # E' possibile riassegnare tutta la lista e basta

In [212]:
# Creazione colonne
movie["has_seen"] = 0 # Crea nuova colonna inizializzata con valori a 0
movie["actor_fb_likes"] = movie["actor_1_facebook_likes"] + movie["actor_2_facebook_likes"] + movie.actor_3_facebook_likes # Nuova colonna come somma dei valori delle colonne indicate
profit_index = movie.columns.get_loc("gross") # Prendo indice numerico colonna "gross"
movie.insert(loc=profit_index+1, column="profit", value=movie["gross"] - movie["budget"]) # Inserisco colonna dopo "gross"
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,profit,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,has_seen,actor_fb_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,523505847.0,...,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,0,2791.0
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,9404152.0,...,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,0,46000.0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,-44925825.0,...,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,0,11554.0
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,198130642.0,...,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,0,73000.0
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,NaN,...,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,0,NaN

In [213]:
# Cancellazione colonne
movie.drop(["has_seen", "profit"], axis=1, inplace=True) # Cancellazione su asse colonne
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,actor_fb_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,2791.0
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,46000.0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,11554.0
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,73000.0
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,NaN

In [214]:
# Selezione colonne multiple di un DataFrame
movie_actor_director = movie[['actor_1_name', 'actor_2_name','actor_3_name', 'director_name']]
movie_actor_director.head()

,actor_1_name,actor_2_name,actor_3_name,director_name
movie_title,,,,
Avatar,CCH Pounder,Joel David Moore,Wes Studi,James Cameron
Pirates of the Caribbean: At World's End,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski
Spectre,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes
The Dark Knight Rises,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan
Star Wars: Episode VII - The Force Awakens,Doug Walker,Rob Walker,NaN,Doug Walker

In [215]:
# Selezione colonna singola di un DataFrame come DataFrame
print("DataFrame----------------------")
print(movie[["director_name"]].head(1))
# Selezione colonna singola di un DataFrame come Series
print("Series-------------------------")
print(movie["director_name"].head(1))

DataFrame----------------------
             director_name
movie_title
Avatar       James Cameron
Series-------------------------
movie_title
Avatar    James Cameron
Name: director_name, dtype: object

In [216]:
# Selezione colonne multiple in base al tipo dato
# include=[] lista di stringhe ("int", "number") o una lista di tipi numpy (np.float64)
movie.select_dtypes(include=["int", np.float64]).columns

Index(['num_critic_for_reviews', 'duration', 'director_facebook_likes',
       'actor_3_facebook_likes', 'actor_1_facebook_likes', 'gross',
       'facenumber_in_poster', 'num_user_for_reviews', 'budget', 'title_year',
       'actor_2_facebook_likes', 'imdb_score', 'aspect_ratio',
       'actor_fb_likes'],
      dtype='object')

In [217]:
# Selezione colonne multiple in base ad un filtro sui nomi colonna
print(movie.filter(like="facebook").columns)
print(movie.filter(items=["director_name","abc"]).columns) # Lista nomi colonne esatte no errori
print(movie.filter(regex="\d").columns) # Colonne con una cifra nel nome

Index(['director_facebook_likes', 'actor_3_facebook_likes',
       'actor_1_facebook_likes', 'cast_total_facebook_likes',
       'actor_2_facebook_likes', 'movie_facebook_likes'],
      dtype='object')
Index(['director_name'], dtype='object')
Index(['actor_3_facebook_likes', 'actor_2_name', 'actor_1_facebook_likes',
       'actor_1_name', 'actor_3_name', 'actor_2_facebook_likes'],
      dtype='object')

In [218]:
# Ordinamento colonne di un DataFrame
# movie.columns = reversed(movie.columns) --> QUESTO NON ORDINA LE COLONNE LE RINOMINA!!!
movie1 = movie[reversed(movie.columns)]

print(movie.columns[:3], "...", movie.columns[-3:])
print(movie1.columns[:3], "...", movie1.columns[-3:])

Index(['color', 'director_name', 'num_critic_for_reviews'], dtype='object') ... Index(['aspect_ratio', 'movie_facebook_likes', 'actor_fb_likes'], dtype='object')
Index(['actor_fb_likes', 'movie_facebook_likes', 'aspect_ratio'], dtype='object') ... Index(['num_critic_for_reviews', 'director_name', 'color'], dtype='object')

In [219]:
# Attributi del DataFrame
print(movie.shape) # tupla con numero righe e numero colonne
print(movie.size) # numero totale elementi (righe*colonne)
print(movie.ndim) # numero dimensioni 2: dimensione riga e dimensione colonna (sempre)
print(len(movie)) # numero righe
print("---")
print(movie.count().head()) # Serie con numero elementi per colonna (escludendo i Nan)
print(movie.describe()[["aspect_ratio", "imdb_score","actor_2_facebook_likes"]]) # DataFrame con statistiche
# Pandas gestisce i valori mancanti nelle colonne numeriche escludendoli di default. Se si vuole includerli si può usare il parametro skipna=False

(4916, 28)
137648
2
4916
---
color                      4897
director_name              4814
num_critic_for_reviews     4867
duration                   4901
director_facebook_likes    4814
dtype: int64
       aspect_ratio   imdb_score  actor_2_facebook_likes
count   4590.000000  4916.000000             4903.000000
mean       2.222349     6.437429             1621.923516
std        1.402940     1.127802             4011.299523
min        1.180000     1.600000                0.000000
25%        1.850000     5.800000              277.000000
50%        2.350000     6.600000              593.000000
75%        2.350000     7.200000              912.000000
max       16.000000     9.500000           137000.000000

In [220]:
# Concatenazione metodi per i DataFrame, calcolo somma elementi nulli per colonna
movie.isnull().sum().head()

color                       19
director_name              102
num_critic_for_reviews      49
duration                    15
director_facebook_likes    102
dtype: int64

In [221]:
# Cerco se un DataFrame ha almeno un elemento nullo
movie.isnull().any().any()

True

In [222]:
# Confronto valori mancanti (usare sempre .isnull())
np.nan == np.nan # False
None == None # True
# Quindi confronto DataFrame non usare operatore == ma df1.equals(df2) che gestisce i valori mancanti correttamente
# Attenzione il metodo df.eq(df2) funziona come df1 == df2 che è sconsigliato

True

In [223]:
# Gestione confronto in unit test
from pandas.testing import assert_frame_equal
assert_frame_equal(movie, movie) # Se uguali ritorna None altrimenti AssertError

In [224]:
# Parametro axis dei metodi del DataFrame
# definisce la direzione delle operazioni sul Frame stesso
# se axis=0 -> direzione sull'indice (comportamento di default)
# se axis=1 -> direzione sulle colonne
print(movie.count().head(1)) # Colonna Default 
print(movie.count(axis=0).head(1)) # Colonna
print(movie.count(axis=1).head(1)) # Indice

color    4897
dtype: int64
color    4897
dtype: int64
movie_title
Avatar    28
dtype: int64

In [225]:
college = pd.read_csv("./PandasCookbook_Code/data/college.csv", index_col="INSTNM")
# Prendo colonne UGDS_
college_ugds_ = college.filter(like="UGDS_")
college_ugds_.head(2)

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100

In [226]:
# Cerco college con valori tutti nulli
college_ugds_.isnull().sum(axis=1).sort_values(ascending=False)
# Rimuovo tutte le righe con i valori tutti nulli
college_ugds_ = college_ugds_.dropna(how="all")
college_ugds_.isnull().sum()

UGDS_WHITE    0
UGDS_BLACK    0
UGDS_HISP     0
UGDS_ASIAN    0
UGDS_AIAN     0
UGDS_NHPI     0
UGDS_2MOR     0
UGDS_NRA      0
UGDS_UNKN     0
dtype: int64

In [227]:
# DataFrame - Prendi riga 0 e riga con indice "Avatar" -> Series
series1 = movie.loc["Avatar"]
series2 = movie.iloc[0]

print(type(series1), series1.size, "\n", series1.head(2))
print(type(series2), series2.size, "\n", series2.head(2))
print(series1.equals(series2))

<class 'pandas.core.series.Series'> 28
 color                    Color
director_name    James Cameron
Name: Avatar, dtype: object
<class 'pandas.core.series.Series'> 28
 color                    Color
director_name    James Cameron
Name: Avatar, dtype: object
True

In [228]:
# DataFrame - Prendi colonna 0 e colonna con indice "actor_fb_likes"
series1 = movie["actor_fb_likes"]
series2 = movie[movie.columns[0]]

print(type(series1), series1.size, "\n", series1.head(2))
print(type(series2), series2.size, "\n", series1.head(2))
print(series1.equals(series2))

<class 'pandas.core.series.Series'> 4916
 movie_title
Avatar                                       2791.0
Pirates of the Caribbean: At World's End    46000.0
Name: actor_fb_likes, dtype: float64
<class 'pandas.core.series.Series'> 4916
 movie_title
Avatar                                       2791.0
Pirates of the Caribbean: At World's End    46000.0
Name: actor_fb_likes, dtype: float64
False

In [229]:
# DataFrame - Prendi prima riga e secondo valore
value1 = movie.iloc[0, 1]
value2 = movie.loc[movie.index[0]][1]
value3 = movie.loc["Avatar", "movie_facebook_likes"]
value4 = movie.loc[movie.index[0], movie.columns[1]]

print(value1,"|", value2,"|", value3,"|", value4)

James Cameron | James Cameron | 33000 | James Cameron

In [240]:
# DataFrame - Prendi tutti i film che hanno perso soldi inserendo come prima colonna la perdita
movie_broke = movie[movie["gross"]-movie["budget"]<0]
movie_broke.insert(0, "loss", movie_broke["gross"]-movie_broke["budget"])
movie_broke.head()

,loss,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,actor_fb_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Spectre,-44925825.0,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,11554.0
John Carter,-190641321.0,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,...,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000,1802.0
Tangled,-59192738.0,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,...,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000,1636.0
Superman Returns,-8930592.0,Color,Bryan Singer,434.0,169.0,0.0,903.0,Marlon Brando,18000.0,200069408.0,...,English,USA,PG-13,209000000.0,2006.0,10000.0,6.1,2.35,0,28903.0
Quantum of Solace,-31631573.0,Color,Marc Forster,403.0,106.0,395.0,393.0,Mathieu Amalric,451.0,168368427.0,...,English,UK,PG-13,200000000.0,2008.0,412.0,6.7,2.35,0,1256.0

In [ ]:
100