# NLP
Field concerned with the ability of a computer to understand, analyze, manipulate, and potentially generate human language

In [9]:
import nltk
# nltk.download()
# dir(nltk)

In [11]:
from nltk.corpus import stopwords
print(stopwords.words('english')[0:500:25])
print(stopwords.words('italian')[0:500:25])

['i', 'herself', 'been', 'with', 'here', 'very', 'doesn', 'won']
['ad', 'degli', 'contro', 'vostra', 'che', 'l', 'aveva', 'siate', 'furono', 'facevo', 'star√≤', 'stesse']

In [20]:
import pandas as pd
pd.set_option('display.max_colwidth',100)

messages = pd.read_csv('spam.csv', encoding='latin-1')
messages = messages.drop(labels=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1)
messages.columns = ['label', 'text']
messages.head()

  label                                                                                                 text
0   ham  Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g...
1   ham                                                                        Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
3   ham                                                    U dun say so early hor... U c already then say...
4   ham                                        Nah I don't think he goes to usf, he lives around here though

In [17]:
messages.shape

(5572, 2)

In [18]:
messages['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [19]:
messages.describe()

       label                    text
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [23]:
# Remove punctuation
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [33]:
def remove_punct(text):
    return("".join([char for char in text if char not in string.punctuation]))
messages['text_clean'] = messages['text'].apply(lambda x: remove_punct(x))
messages.head()

  label  ...                                                                                           text_clean
0   ham  ...  Go until jurong point crazy Available only in bugis n great world la e buffet Cine there got amo...
1   ham  ...                                                                              Ok lar Joking wif u oni
2  spam  ...  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...
3   ham  ...                                                          U dun say so early hor U c already then say
4   ham  ...                                          Nah I dont think he goes to usf he lives around here though

[5 rows x 3 columns]

In [35]:
import re
def tokenize(text):
    return(re.split('\W+', text))
messages['text_tokenized'] = messages['text_clean'].apply(lambda x: tokenize(x.lower()))
messages.head()

  label  ...                                                                                       text_tokenized
0   ham  ...  [go, until, jurong, point, crazy, available, only, in, bugis, n, great, world, la, e, buffet, ci...
1   ham  ...                                                                       [ok, lar, joking, wif, u, oni]
2  spam  ...  [free, entry, in, 2, a, wkly, comp, to, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, to...
3   ham  ...                                              [u, dun, say, so, early, hor, u, c, already, then, say]
4   ham  ...                            [nah, i, dont, think, he, goes, to, usf, he, lives, around, here, though]

[5 rows x 4 columns]

In [37]:
def remove_stopwords(text_tokenized):
    return([word for word in text_tokenized if word not in stopwords.words('english')])
messages['text_nostop'] = messages['text_tokenized'].apply(lambda x: remove_stopwords(x))
messages.head()

  label  ...                                                                                          text_nostop
0   ham  ...  [go, jurong, point, crazy, available, bugis, n, great, world, la, e, buffet, cine, got, amore, wat]
1   ham  ...                                                                       [ok, lar, joking, wif, u, oni]
2  spam  ...  [free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receiv...
3   ham  ...                                                        [u, dun, say, early, hor, u, c, already, say]
4   ham  ...                                                 [nah, dont, think, goes, usf, lives, around, though]

[5 rows x 5 columns]

# Term Frequency-Inverse Document Frequency (TF-IDF)

- Creates a document-term matrix; one row per document, one column per word in the corpus
- Generates a weighing for every word/document pair intended to reflect how important a given word is to the document within the context of its frequency within a larger corpus

In [40]:
def clean_text(text):
    ### Function to clean a text
    text = "".join([char for char in text if char not in string.punctuation])
    tokens = re.split('\W+', text.lower())
    text = [word for word in tokens if word not in stopwords.words('english')]
    return(text)

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer(analyzer=clean_text)
X_tfidf = tfidf_vect.fit_transform(messages['text'])
X_features = pd.DataFrame(X_tfidf.toarray())
print(type(X_tfidf))
print(X_tfidf.shape)

<class 'scipy.sparse.csr.csr_matrix'>
(5572, 9395)

In [53]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score, recall_score
from sklearn.model_selection import train_test_split
print(RandomForestClassifier())

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X_features, messages['label'], test_size=0.2)
rf = RandomForestClassifier()
rf_model = rf.fit(X_train, y_train)

In [57]:
y_pred = rf.predict(X_test)
precision = precision_score(y_test, y_pred, pos_label='spam')
recall = recall_score(y_test, y_pred, pos_label='spam')
print('Precision {} / Recall {}'.format(round(precision,3), round(recall,3)))

Precision 1.0 / Recall 0.816